<h2>About</h2>
Train your Brain helps you in learning new facts and knowledge. Add new questions
testing your brain power and the correct answer to validate your finesse.

<h3>Home</h3>
On the home page you will be greeted with your questions. You can choose to skip the
question or, if you know the solution, display the answer and check for yourself if you
were right. But don't trick yourself ;).

<br>

<h3>Add Question</h3>
Here you are able to add new facts and questions you want to train your brain on.
Provide your question and answer and off you go. If you need to include images as
your question or answer you also have this option. Please note that you still have
to provide some text for your question and answer.

<br>

<h3>See all Questions</h3>
Scroll through all of your questions, see how you perform on each question or delete
an item you already know for sure.
<br>
<br>

<h2>Donate</h2>
If you enjoy this app and found it helpful, please consider donating to this project.
<br>
<br>
<a href="https://paypal.me/JonathanRHerrmann" target="_blank"><button class="blue-button">Go to PayPal</button></a>

<br>
<br>

<h2>GitHub</h2>
Check out the source code on GitHub.
<br>
<br>
<a href="https://github.com/jon-ryan/trainYourBrain" target="_blank"><button class="blue-button">Go to
        GitHub</button></a>
<br>
<br>
<br>
<br>