<div class="container">
<h2>About</h2>
Train your Brain helps you in learning new facts and knowledge. Add new questions
testing your brain power and the correct answer to validate your finesse.

<h3>Home</h3>
On the home page you will be greeted with your questions. You can choose to skip the
question or, if you know the solution, display the answer and check for yourself if you
were right. But don't trick yourself ;).

<br>

<h3>Add Question</h3>
Here you are able to add new facts and questions you want to train your brain on.
Provide your question and answer and off you go. If you need to include images as
your question or answer you also have this option. Please note that you still have
to provide some text for your question and answer.
<br>
<br>
We will load the images you provide directly from your hard drive. Therefore it is
important that you don't move or delete the image. Otherwise we can't find it. To keep things
organized, create a dedicated folder where ever you want where you store all your images in.
This should help you not accidentally moving or deleting an image which is attached to a question.

<br>

<h3>All Questions</h3>
Scroll through all of your questions, see how you perform on each question or delete
an item you already know for sure.
<br>

<h3>Sessions</h3>
All your sessions are listed here. Get an overview of your performance and statistics.
<br>
<br>

Version: {{ version }}

<h2>Donate</h2>
If you enjoy this app and found it helpful, please consider donating to this project.
<br>
<br>
<a href="https://paypal.me/JonathanRHerrmann" target="_blank"><img alt="PayPal - The safer, easier way to pay online!" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif"></a>

<br>
<br>

<h2>GitHub</h2>
Check out the source code on GitHub.
<br>
<br>
<a href="https://github.com/jon-ryan/trainYourBrain" target="_blank"><button class="blue-button">Go to
        GitHub</button></a>
<br>
<br>
<br>
<br>
</div>