.list-element {
    margin-top: 30px;
    margin-bottom: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid grey;
}

.space-evenly {
    display: flex;
    justify-content: space-between;
}

.question-formatting {
    font-size: 18px;
    font-weight: bold;
}

