<h2>All your questions are listed here</h2>
<br>

<!-- list all items with ngFor-->
<ng-template [ngIf]="allItems.length != 0" [ngIfElse]="empty">
    <br>
    <div class="space-evenly">
        <div>If you want to clean up, you can delete all your questions and make a fresh start.</div>
        <img (click)="toggleConfirmDeleteAll()" [style.cursor]="'pointer'" src="../../assets/keyboard_arrow_down-white-24dp.svg">
    </div>
    <br>
    <br>

    <ng-template [ngIf]="toggleDeleteAll">
        Are you sure you want to delete all questions? This action can not be undone.

        <br>
        <br>
        <div class="float-right">
            <button class="red-button" (click)="deleteAllDocuments()" [style.margin-right]="'20px'">Delete All</button>
            <button class="blue-button" (click)="toggleConfirmDeleteAll()">Keep All</button>
        </div>
        <br>
        <br>
    </ng-template>

    <br>
    <div class="space-evenly">
        <div>Filter by category</div>
        <select [(ngModel)]="selectedCategory" (change)="filterByCategory()">
            <option *ngFor="let category of existingCategories">{{ category["_id"] }}</option>
        </select>
    </div>

    <div class="list-element" *ngFor="let item of allItems; let i = index">
        <br>
        <div class="question-formatting">{{ item["questionText"] }}</div>
        {{ item["answerText"] }}
        <br>
        <br>
        Category: {{ item["category"] }}
        <div class="space-evenly">
            <div>Total Times answered: {{ item["total"]}}</div>
            <div>Times Correctly answered: {{ item["correct"]}}</div>
            <div>Success Rate: {{item["correct"] / item["total"] * 100 | number: '2.1-1'}}%</div>
            <img (click)="toggleConfirmDelete(i)" src="../../assets/delete-white-24dp.svg" [style.cursor]="'pointer'">
        </div>

        <ng-template [ngIf]="toggleDeleteArray[i]">
            <div>
                <br>
                <div class="float-right">
                    <button class="red-button" (click)="deleteItem(i, item['_id'], item['_rev'])"
                        [style.margin-right]="'20px'">Delete</button>
                    <button class="blue-button" (click)="toggleConfirmDelete(i)">Keep</button>
                </div>
                <strong>Are you sure you want to delete this item?</strong>
                <div class="clearfix"></div>
            </div>
        </ng-template>
        <br>
    </div>
</ng-template>

<ng-template #empty>
    There is nothing here yet. Add some questions first!
</ng-template>

<br>
<br>
<br>