<header>
    <div class="container">
        <b>Train Your Brain</b>
        <nav>
            <ul>
                <li><a href="#" routerLink="/">Home</a></li>
                <li><a href="#" routerLink="/additem">Add Question</a></li>
                <li><a href="#" routerLink="/allitems">See all Questions</a></li>
                <li><a href="#" routerLink="/about">About/Donate</a></li>
            </ul>
        </nav>
    </div>
</header>

<div class="containe">
    <router-outlet></router-outlet>
</div>