<header>
    <div class="container" id="app-header">
        <b>Train Your Brain</b>
        <nav>
            <ul>
                <li><a href="#" routerLink="/">Home</a></li>
                <li><a href="#" routerLink="/additem">Add Question</a></li>
                <li><a href="#" routerLink="/allitems">All Questions</a></li>
                <li><a href="#" routerLink="/sessions">Sessions</a></li>
                <li><a href="#" routerLink="/about">About/Donate</a></li>
            </ul>
        </nav>
    </div>
</header>



<div [@routeAnimation]="prepareRoute(outlet)" id="mainDiv">
    <router-outlet #outlet="outlet"></router-outlet>
</div>


<ng-template [ngIf]="showUpdater">
    <div id="notification">
        <p >{{ message }}</p>
        <button id="close-button" (click)="closeNotification()">
            Close
        </button>
        <ng-template [ngIf]="showRestartButton">
            <button id="restart-button" (click)="restartApp()">
                Restart
            </button>
        </ng-template>

    </div>
</ng-template>