textarea {
    border: 1px solid grey;
    border-radius: 5px;
    font-family: 'Open Sans', Arial;
    background-color: rgb(88, 88, 88);
    color: rgb(235, 235, 235);
    resize: none;
    margin-top: 10px;
}