<div class="container">
    <h2>Add a new Item</h2>

    <!-- Question Input -->
    <div class="form__group field">
        <textarea rows="3" cols="100" class="form__field" placeholder="questionText" name="questionText" id='questionText'
            [(ngModel)]="questionText" required></textarea>
        <label for="questionText" class="form__label">Question Text</label>
    </div>
    <br>
    <br>
    <button class="blue-button" (click)="openFileDialogQuestionImage()">Select Question Image</button>
    <br>
    <br>
    <img [src]="questionImage" height="200px">
    <br>
    <ng-template [ngIf]="questionImagePath != '' && questionImagePath != undefined">
        Image located at:
        <br>
    </ng-template>
    {{ questionImagePath }}
    <br>
    <br>
    <!-- Answer input -->
    <div class="form__group field">
        <textarea rows="3" cols="100" class="form__field" placeholder="answerText" name="answerText" id='answerText'
            [(ngModel)]="answerText" required></textarea>
        <label for="answerText" class="form__label">Answer Text</label>
    </div>
    <br>
    <br>
    <button class="blue-button" (click)="openFileDialogAnswerImage()">Select Answer Image</button>
    <br>
    <br>
    <img [src]="answerImage" height="200px">
    <br>
    <ng-template [ngIf]="answerImagePath != '' && answerImagePath != undefined">
        Image located at:
        <br>
    </ng-template>
    {{ answerImagePath }}
    <br>
    <br>

    <!-- Category input -->
    <div class="form__group field">
        <input type="text" class="form__field" placeholder="Category" name="categoryNew" id='categoryNew'
            [(ngModel)]="categoryNew" required />
        <label for="categoryNew" class="form__label">Create a New Category</label>
    </div>

    <div class="fontSize1rem">
        <br>
        or
        <br>
    </div>

    <!---->
    <div class="space-evenly width50 fontSize1rem">
        <div>Existing Category</div>
        <select [(ngModel)]="categoryFromList" class="form__field" name="categoryFromList" id="categoryFromList">
            <option *ngFor="let category of existingCategories">{{ category["_id"] }}</option>
        </select>
    </div>


    <br>
    <button class="blue-button" (click)="submitNewItem()">Add Item</button>

    <br>
    <br>
    <div class="error-text">
        <ng-template [ngIf]="submitError" [ngIfElse]="none">
            {{ errorText }}
        </ng-template>
        <ng-template #none>

        </ng-template>

    </div>

    <br>
    <br>
</div>