/* You can add global styles to this file, and also import other style files */

$primary: rgb(0, 115, 223);

html, body {
  margin: 0;
  padding: 0;

  height: 100%;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;

  color: rgb(223, 223, 223);
  background: url(./assets/background.svg) no-repeat center fixed;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.float-right {
  float: right;
}

.clearfix {
  clear: both;
}

header {
  background: $primary;
  padding: 1em 0;

    a {
      color: white;
      text-decoration: none;
    }

    a.logo {
      font-weight: bold;
    }

    nav {
      float: right;

      ul {
        list-style-type: none;
        margin: 0;
        display: flex;

        li a {
          padding: 1em;

          &:hover {
            background: darken($primary, 5%);
          }
        }
      }
    }

}

button{
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.45cm;
  padding-left: .7cm;
  padding-right: .7cm;
  padding-top: .25cm;
  padding-bottom: .25cm;
  border-radius: 5px;
  font-weight: bolder;
  cursor: pointer;
}

.blue-button{
  background-color: $primary;
  color: rgb(235,235,235);
}

.red-button{
  background-color: crimson;
  color: rgb(235,235,235);
}

.secondary-button{
  background-color: rgb(235,235,235);
  color: rgb(34, 34, 34);
}

/* CAN (MUST) BE REMOVED ! Sample Global style */
/*
.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: url(./assets/background.jpg) no-repeat center fixed;
  -webkit-background-size: cover; /* pour anciens Chrome et Safari *\/
  background-size: cover; /* version standardisée *\/

  .title {
    color: white;
    margin: 0;
    padding: 50px 20px;
  }

  a {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #ed3330;
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;

    &:hover {
      background: #fff;
      color: #ed3330 !important;
      letter-spacing: 1px;
      -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
      -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
      box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
      transition: all 0.4s ease 0s;
    }
  }
}
*/
