/* You can add global styles to this file, and also import other style files */

$primary: rgb(0, 115, 223);

.example::-webkit-scrollbar {
  display: none;
}

html, body {
  margin: 0;
  padding: 0;

  height: 100%;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;

  color: rgb(223, 223, 223);
  /*background: url(./assets/background.svg) no-repeat center fixed;*/
  background-color: rgb(36, 36, 36);
}

body {
  padding-top: 60px;
}

.container {
  width: 80%;
  margin: 0 auto;
}


.float-right {
  float: right;
}

.clearfix {
  clear: both;
}

header {
  background: $primary;
  padding: 1em 0;

  /* Make nav bar stick to the top */
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;


    a {
      color: white;
      text-decoration: none;
    }

    a.logo {
      font-weight: bold;
    }

    nav {
      float: right;

      ul {
        list-style-type: none;
        margin: 0;
        display: flex;

        li a {
          padding: 1em;

          &:hover {
            background: darken($primary, 5%);
          }
        }
      }
    }

}

button{
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.45cm;
  padding-left: .7cm;
  padding-right: .7cm;
  padding-top: .25cm;
  padding-bottom: .25cm;
  border-radius: 5px;
  font-weight: bolder;
  cursor: pointer;
}

.blue-button{
  background-color: $primary;
  color: rgb(235,235,235);
}

.red-button{
  background-color: crimson;
  color: rgb(235,235,235);
}

.secondary-button{
  background-color: rgb(235,235,235);
  color: rgb(34, 34, 34);
}


.space-evenly {
  display: flex;
  justify-content: space-between;
}


.blue-flat-button {
  cursor: pointer;
  color: $primary;
}

.red-flat-button {
  cursor: pointer;
  color: crimson;
}


.error-text {
  color: crimson;
}

//
//
//
// input fields
$primary: white;
$secondary:  rgb(0, 115, 223);
$white: #fff;
$gray: #9b9b9b;
.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 50%;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid $gray;
  outline: 0;
  font-size: 1.3rem;
  color: $white;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: $gray;
}

.form__field:focus {
  ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: $primary;
    font-weight:700;    
  }
  padding-bottom: 6px;  
  border-width: 3px;
  border-image: linear-gradient(to right, $primary,$secondary);
  border-image-slice: 1;
}
/* reset input */
.form__field{
  &:required,&:invalid { box-shadow:none; }
}

.width_auto{
  width: auto;
}

textarea {
    font-family: 'Open Sans', Arial;
    resize: vertical;
}

select option {
    background-color: rgb(41, 41, 41);
    border: none;
    font-size: 1rem;
}

.width50{
    width: 50%;
}

.fontSize1rem {
    font-size: 1rem;
}